@charset "utf-8";
/* CSS Document */

.grdW{
	max-width:980px;
	min-width:740px;
	margin:0 auto;
	clear:both;
	text-align:left;
	position:relative;
}
.grdW2{
	max-width:100%;
	min-width:740px;
	margin:0 auto;
	clear:both;
	text-align:left;
	position:relative;
}
#gheaderColumn1 {
	position:relative;
	float:left;
	padding:0 0 0 0;
	width:545px;
}
#gheaderColumn1:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#gheaderColumn1 .logo {
	float:left;
	width:161px;
	margin-left:0px;
}

#gheaderColumn1 .logo a {
	display:block;
	padding:14px 9px 15px 12px;
}


#gHeader img {
	vertical-align:bottom;
}


#gheaderColumn1 .logo2 {
	padding:24px 0 0 49px;
	float:left;
}
#gheaderColumn2 {
	float:right;
	margin-left:-545px;
	width:100%;
}
#gheaderColumn2Wrapper {
	position:relative;
	margin:23px 10px 0 545px;
	text-align:right;
	line-height:1.6;
}
#gheaderColumn2Inner p {
	margin:0;
	padding:0;
}
#gheaderColumn2Inner img {
	vertical-align:top;
}
#gheaderColumn2Inner1 ul {
	margin-left:-15px;
}
#gheaderColumn2Inner1 ul li {
	display:inline;
/zoom:1;
	vertical-align:top;
	margin-left:10px;
}

#gheaderColumn2Inner1 ul li.info a, #gheaderColumn2Inner1 ul li.info span {
	padding-left:14px;
	background: url(../images/icon-contact.gif) no-repeat 0 50%;
}
.canon{
  position: absolute;
  right: 116px;
  top: 16px;
}
#gheaderColumn2Wrapper{
      margin: 30px 10px 0 545px;
}


.footbox{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footlink{

}
.footlink a{
  margin: 0 21px 0 0;
  color: #000;
  text-decoration: none;
  font-size: 12px;
}
.copyright{
  font-size: 14px;
}
.topBack{
  display: inline-block;
  position: fixed;
  bottom: 25px;
  right: 20px;
  width: 44px;
  height: 44px;
}
.topBack img{
  width: 44px;
  height: 44px;
}


@media screen and (max-width: 760px) {

	.h-1hub{
		height:100px;
	}


	#gheaderColumn1 {
		width:100%;
	}

	.goTopBtn{
		bottom:0px;
		left:0px;
		width:100%;
		border-radius:0px;
		border:1px solid #ddd;
		text-align:center;

	}
	.goTopBtn a{
		display:block;	
		font-size:78%;
		padding:8px 8px 8px 22px;
	}
	
	.mfl{ float:left;}
	.mfr{ float:right;}
	.mfNone{float:none;}
	
	
	body{
		min-width:320px;
	}
	
	.isMobile{
		display:block !important;
	}
	
	#contents{
		width:100%;
	}

	/*sideMenu Test*/
	


	

	.grdW{
		max-width:100%;
		min-width:100%;
		margin:0 auto;
		clear:both;
		text-align:left;
	}
    .grdW2{
		max-width:100%;
		min-width:100%;
		margin:0 auto;
		clear:both;
		text-align:left;
	}

	.box{
		margin-left:10px;
		margin-right:10px;
	}

    table.resp{
        display: block;
        width: 100%;
        position: relative;
        overflow-x: auto;
    }
	
	#gHeader{
		border-bottom:1px solid #CCC;
		
	}
	#gheaderColumn1 .logo {
		float: left;
		width:132px;
		margin-left:0px;
	}
	
	#gheaderColumn1 .logo a {
		display:block;
		padding:7px 8px 5px 7px;
	}
	
	#gheaderColumn1 .logo img {
		width:100%;
		height:auto;
	}

	#gheaderColumn1 .logo2{
		padding:14px 0 0 0px;
		float:left;
	}
	#gheaderColumn1 .logo2 img{
		display:none;
		width:200px;
		height:auto;
	}


	

	
	#contentsWrapper.expanded{
		
	}

	#contentsWrapper #sideBar{
		margin-left:-200px;
		width:200px;
	}
	
	#contentsWrapper.expanded #sideBar{
		display:inline-block;
		margin-left:0;
		width:200px;
		z-index:9999;
	}	
	
	#contentsWrapper #contents{
		left:0;
	}
	
	#contentsWrapper.expanded{
		overflow:hidden;		
	}
	#contentsWrapper.expanded #contents{
		position:absolute;
		left:200px;
		top:0;
	}
		
	
	
	#contentsWrapper.expanded2 #sideBar{
		display:block;
		width:100%;
		z-index:9999;
	}

	
	
	.addBtn .menuBtn,
	.addBtn .menuBtn2{
		display:block;
	}

	
	#gNav{
		display:none;
	}
	
	#gNavMOV{
		top:45px;
		position:absolute;
		background:#eee;
		padding-top:0px;
		padding-bottom:0px;
		opacity:1;
		z-index:4000;
		display:none;
		
		border-bottom:1px solid #808080;
		width: 100%;
	}


	#gNavMOV .gnavB{
		padding:0;
		margin:0;
		width: 100%;
	}


	
	#gNavMOV .gnavB li{
		float:left;

		width:100%;
		border:none;
	}
	
	#gNavMOV .gnavB li a:after{
		position:static;
		background:none;
		content: "";
		display: block;
		width: 8px;
		height: 8px;
		float:right;
		margin-top:4px;
		border-top: solid 2px #aaa;
		border-right: solid 2px #aaa;
		
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	
	#gNavMOV .gnavB li a.tree:after,
	#gNavMOV .gnavB li span.tree:after{
		position:static;
		background:none;
		content: "";
		display: block;
		width: 8px;
		height: 8px;
		float:right;
		margin-top:4px;
		border-top: solid 2px #aaa;
		border-right: solid 2px #aaa;
		
		-moz-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
	}	

	#gNavMOV .gnavB li a.tree2:after{
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	}
	#gNavMOV .gnavB li a.menuClose:after{
		display:none;
	}
	/*
	#gNavMOV .gnavB li a:before,#gNavMOV .gnavB li span.act:before{
		content: "";
		width:2px;
		height:30px;
		display:block;
		position:absolute;
		left:1em;
		top:11px;
		background:#F00;
	}
	*/

	#gNavMOV .gnavB li ul{
		display:none;
		
	}
	
	/*
	#gNavMOV .gnavB li li a:before,
	#gNavMOV .gnavB li li span:before{
		display:none !important;
	}
	*/
	
	#gNavMOV .gnavB li.movNone{
		display:none;	
	}

	#gNavMOV .gnavB li a,
	#gNavMOV .gnavB li span{
		color:#fff;
		text-shadow:none;
		text-align:left;
		border-bottom:1px solid #999999;
		display:block;
		width:100%;
		background:#4c4c4c;
		font-size:15px;
		padding:1em 0.7em;
		height:auto;
	}
	
	
	
	
	
	#gNavMob .gnavB li ul{
		display:none;
		position: relative;
		width:100%;
		left: 0;
	
		margin: 0;
		padding: 0;
	}
	
	#gNavMOV .gnavB li ul li{
		width:100%
	}
	
	#gNavMOV .gnavB li ul li a,
	#gNavMOV .gnavB li ul li span{
		display: block;
		height:auto;
		padding:1em 2em;
	
		text-decoration:none;
		text-shadow:1px 1px 0 #000; 
		color:#FFF;
		
		background: #333; /* Old browsers */
	
	}
	
	
	#gNavMOV .gnavB > li a.bgEnt{
		background:#0068b6;
	}
	
	#gNavMOV .gnavB > li a.bgOther{
		background:#cccccc;
		color: #333333;
	}	

	#gNavMOV .gnavB li ul li span{
		color:#fff;
		font-weight:bold;
		text-shadow:none;
	}
	
	#gNavMOV .gnavB li ul li span.nonAct{
		color:#b3b3b3;
		font-weight: normal !important;
	}
	
	
	#gNavMOV .gnavB li ul li a,
	#gNavMOV .gnavB li ul li span{
		background:#666;
	}

	#gNavMOV .gnavB li a br,.gnavB li span br{
		display:none;
	}
	
	


	#gNavMOV .gnavB a.menuClose{
		background:#000;
		margin:0 auto;
		display:block;
		
		text-align:center;
		color:#fff !important;
		text-decoration:none;
		line-height:1;
		padding:1em 0.7em;
		
	}
	
	#gNavMOV .gnavB a.menuClose i:after{
		content: "";
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-left:0.5em;
		margin-bottom:-0.05em;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	}
	
	
	/*
	.gnavB li a:hover,.gnavB li a.toTop:hover,.gnavB li a.toBtop:hover,.gnavB li a.toCtop:hover,.gnavB li a:hover{
		background:#fff;
		color:#333;
		text-shadow:none;
	}
	.gnavB li a:hover span.menuNt{
		color:#333;
	}
	*/
	
	#sNav{
		display:none;
	}
	
	#footerSiteMap{
		padding:20px 6px 0;
	}

	
	#footerSiteMapM{
			padding:0 6px;
	}
	
	#footerSiteMapK{
			padding:10px 6px;
			background:#bfbfbf;
	}
	
	#footerSiteMapM li a.bgEnt{
		display:block;
		text-decoration:none;
		padding:14px 0px 14px 1em;
		color:#fff;
		font-size:80%;
		background:url(../../images/icon_footer_linkW.png) no-repeat 0.3em 1.2em #0068b6;
	}

	#footerSiteMapK li a{
		display:block;
		text-decoration:none;
		color:#333;
		font-size:80%;
		margin:0px;
		padding:4px 0px 4px 1em;
		background:url(../../images/icon_footer_link.png) no-repeat 0.3em 0.4em;
	}

	.pcNone{
		display:block;	
	}
	.pcNoneB{
		display:inline-block;	
	}
	.pcNoneI{
		display:inline;
	}
	
	.movNone{
		display:none;
	}
	.movNoneB{
		display:none;
	}
	.movNoneI{
		display:none;
	}

	/*
	オート設定
	1/1～1/4までそのまま表示
	*/
	.g5{
		width:25%;
	}
	.g10{
		width:25%;
	}
	.g15{
		width:25%;
	}
	.g175{
		width:25%;
	}
	.g1875{
		width:25%;
	}
	.g20{
		width:25%;
	}
	.g25{
		width:25%;
	}
	.g30{
		width:33.33%;
	}
	.g33{
		width:33.33%;
	}
	.g35{
		width:35%;
	}
	.g40{
		width:40%;
	}
	.g45{
		width:45%;
	}
	.g50{
		width:50%;
	}
	.g55{
		width:55%;
	}
	.g60{
		width:55%;
	}
	.g65{
		width:65%;
	}
	.g66{
		width:66.66%;
	}
	.g70{
		width:66.66%;
	}
	.g75{
		width:75%;
	}
	.g80{
		width:75%;
	}
	.g85{
		width:75%;
	}
	.g90{
		width:75%;
	}
	.g95{
		width:75%;
	}
	.g100{
		width:100%;
	}
	
	/*マニュアル指定*/
	.mg5{
		width:5%;
	}
	.mg10{
		width:10%;
	}
	.mg15{
		width:15%;
	}
	.mg175{
		width:17.5%;
	}
	.mg1875{
		width:18.75%;
	}
	.mg20{
		width:20%;
	}
	.mg25{
		width:25%;
	}
	.mg30{
		width:30%;
	}
	.mg33{
		width:33.33%;
	}
	.mg35{
		width:35%;
	}
	.mg40{
		width:40%;
	}
	.mg45{
		width:45%;
	}
	.mg50{
		width:50%;
	}
	.mg55{
		width:55%;
	}
	.mg60{
		width:60%;
	}
	.mg66{
		width:66.66%;
	}
	.mg70{
		width:70%;
	}
	.mg75{
		width:75%;
	}
	.mg80{
		width:80%;
	}
	.mg85{
		width:85%;
	}
	.mg90{
		width:90%;
	}
	.mg95{
		width:95%;
	}
	.mg100{
		width:100%;
	}


	/*line-height Setting*/
	.mlh10{ line-height:1; }
	.mlh11{ line-height:1.1; }
	.mlh12{ line-height:1.2; }
	.mlh13{ line-height:1.3; }
	.mlh14{ line-height:1.4; }
	.mlh15{ line-height:1.5; }
	.mlh16{ line-height:1.6; }
	.mlh17{ line-height:1.7; }
	.mlh18{ line-height:1.8; }
	.mlh19{ line-height:1.9; }
	.mlh20{ line-height:2.0; }
	.mlh21{ line-height:2.1; }
	.mlh22{ line-height:2.2; }
	.mlh23{ line-height:2.3; }
	.mlh24{ line-height:2.4; }
	.mlh25{ line-height:2.5; }
	.mlh26{ line-height:2.6; }
	.mlh27{ line-height:2.7; }
	.mlh28{ line-height:2.8; }
	.mlh29{ line-height:2.9; }
	.mlh30{ line-height:3.0; }

	/*font-size setting*/
	.mtext09 { font-size:69%; }
	.mtext10 { font-size:77%; }
	.mtext11 { font-size:85%; }
	.mtext12 { font-size:93%; }
	.mtext13 { font-size:100%; }
	.mtext14 { font-size:108%; }
	.mtext15 { font-size:116%; }
	.mtext16 { font-size:123.1%; }
	.mtext17 { font-size:131%; }
	.mtext18 { font-size:138.5%; }
	.mtext19 { font-size:146.5%; }
	.mtext20 { font-size:153.9%; }
	.mtext21 { font-size:161.6%; }
	.mtext22 { font-size:167%; }
	.mtext23 { font-size:174%; }
	.mtext24 { font-size:182%; }
	.mtext25 { font-size:189%; }
	.mtext26 { font-size:197%; }

	/*text-align setting*/
	.mtc{	text-align:center;}
	.mtl{	text-align:left;}
	.mtr{	text-align:right;}

	.ibBox.mtc,.rows.mtc{
		-webkit-justify-content: center;
	}
	.ibBox.mtl,.rows.mtl{
		-webkit-justify-content: flex-start;
	}
	.ibBox.mtr,.rows.mtr{
		-webkit-justify-content: flex-end;
	}


	.mmr0{ margin-right:0px; }
	.mmr1{ margin-right:1px; }
	.mmr2{ margin-right:2px; }
	.mmr3{ margin-right:3px; }
	.mmr4{ margin-right:4px; }
	.mmr5{ margin-right:5px; }
	.mmr6{ margin-right:6px; }
	.mmr7{ margin-right:7px; }
	.mmr8{ margin-right:8px; }
	.mmr9{ margin-right:9px; }
	.mmr10{ margin-right:10px; }
	.mmr11{ margin-right:11px; }
	.mmr12{ margin-right:12px; }
	.mmr13{ margin-right:13px; }
	.mmr14{ margin-right:14px; }
	.mmr15{ margin-right:15px; }
	.mmr16{ margin-right:16px; }
	.mmr17{ margin-right:17px; }
	.mmr18{ margin-right:18px; }
	.mmr19{ margin-right:19px; }
	.mmr20{ margin-right:20px; }
	.mmr21{ margin-right:21px; }
	.mmr22{ margin-right:22px; }
	.mmr23{ margin-right:23px; }
	.mmr24{ margin-right:24px; }
	.mmr25{ margin-right:25px; }
	.mmr26{ margin-right:26px; }
	.mmr27{ margin-right:27px; }
	.mmr28{ margin-right:28px; }
	.mmr29{ margin-right:29px; }
	.mmr30{ margin-right:30px; }
	.mmr35{ margin-right:35px; }
	.mmr40{ margin-right:40px; }
	.mmr45{ margin-right:45px; }
	.mmr50{ margin-right:50px; }
	.mmr60{ margin-right:60px; }
	.mmr70{ margin-right:70px; }
	.mmr80{ margin-right:80px; }
	.mmr90{ margin-right:90px; }
	.mmr100{ margin-right:100px; }
	.mmr110{ margin-right:110px; }
	.mmr120{ margin-right:120px; }
	.mmr130{ margin-right:130px; }
	.mmr140{ margin-right:140px; }
	.mmr210{ margin-right:210px; }
	.mmr220{ margin-right:220px; }
	.mmr230{ margin-right:230px; }
	.mmr240{ margin-right:240px; }
	.mmr250{ margin-right:250px; }
	.mmr260{ margin-right:260px; }
	.mmr320{ margin-right:320px; }

	.mml0{ margin-left:0px; }
	.mml1{ margin-left:1px; }
	.mml2{ margin-left:2px; }
	.mml3{ margin-left:3px; }
	.mml4{ margin-left:4px; }
	.mml5{ margin-left:5px; }
	.mml6{ margin-left:6px; }
	.mml7{ margin-left:7px; }
	.mml8{ margin-left:8px; }
	.mml9{ margin-left:9px; }
	.mml10{ margin-left:10px; }
	.mml11{ margin-left:11px; }
	.mml12{ margin-left:12px; }
	.mml13{ margin-left:13px; }
	.mml14{ margin-left:14px; }
	.mml15{ margin-left:15px; }
	.mml16{ margin-left:16px; }
	.mml17{ margin-left:17px; }
	.mml18{ margin-left:18px; }
	.mml19{ margin-left:19px; }
	.mml20{ margin-left:20px; }
	.mml21{ margin-left:21px; }
	.mml22{ margin-left:22px; }
	.mml23{ margin-left:23px; }
	.mml24{ margin-left:24px; }
	.mml25{ margin-left:25px; }
	.mml26{ margin-left:26px; }
	.mml27{ margin-left:27px; }
	.mml28{ margin-left:28px; }
	.mml29{ margin-left:29px; }
	.mml30{ margin-left:30px; }
	.mml35{ margin-left:35px; }
	.mml40{ margin-left:40px; }
	.mml45{ margin-left:45px; }
	.mml50{ margin-left:50px; }
	.mml60{ margin-left:60px; }
	.mml70{ margin-left:70px; }
	.mml80{ margin-left:80px; }
	.mml90{ margin-left:90px; }
	.mml100{ margin-left:100px; }
	.mml110{ margin-left:110px; }
	.mml120{ margin-left:120px; }
	.mml130{ margin-left:130px; }
	.mml140{ margin-left:140px; }
	.mml200{ margin-left:200px; }
	.mml300{ margin-left:300px; }

	.mmt0{ margin-top:0px; }
	.mmt1{ margin-top:1px; }
	.mmt2{ margin-top:2px; }
	.mmt3{ margin-top:3px; }
	.mmt4{ margin-top:4px; }
	.mmt5{ margin-top:5px; }
	.mmt6{ margin-top:6px; }
	.mmt7{ margin-top:7px; }
	.mmt8{ margin-top:8px; }
	.mmt9{ margin-top:9px; }
	.mmt10{ margin-top:10px; }
	.mmt11{ margin-top:11px; }
	.mmt12{ margin-top:12px; }
	.mmt13{ margin-top:13px; }
	.mmt14{ margin-top:14px; }
	.mmt15{ margin-top:15px; }
	.mmt16{ margin-top:16px; }
	.mmt17{ margin-top:17px; }
	.mmt18{ margin-top:18px; }
	.mmt19{ margin-top:19px; }
	.mmt20{ margin-top:20px; }
	.mmt21{ margin-top:21px; }
	.mmt22{ margin-top:22px; }
	.mmt23{ margin-top:23px; }
	.mmt24{ margin-top:24px; }
	.mmt25{ margin-top:25px; }
	.mmt26{ margin-top:26px; }
	.mmt27{ margin-top:27px; }
	.mmt28{ margin-top:28px; }
	.mmt29{ margin-top:29px; }
	.mmt30{ margin-top:30px; }
	.mmt35{ margin-top:35px; }
	.mmt40{ margin-top:40px; }
	.mmt45{ margin-top:45px; }
	.mmt50{ margin-top:50px; }

	.mmb0{ margin-bottom:0px; }
	.mmb1{ margin-bottom:1px; }
	.mmb2{ margin-bottom:2px; }
	.mmb3{ margin-bottom:3px; }
	.mmb4{ margin-bottom:4px; }
	.mmb5{ margin-bottom:5px; }
	.mmb6{ margin-bottom:6px; }
	.mmb7{ margin-bottom:7px; }
	.mmb8{ margin-bottom:8px; }
	.mmb9{ margin-bottom:9px; }
	.mmb10{ margin-bottom:10px; }
	.mmb11{ margin-bottom:11px; }
	.mmb12{ margin-bottom:12px; }
	.mmb13{ margin-bottom:13px; }
	.mmb14{ margin-bottom:14px; }
	.mmb15{ margin-bottom:15px; }
	.mmb16{ margin-bottom:16px; }
	.mmb17{ margin-bottom:17px; }
	.mmb18{ margin-bottom:18px; }
	.mmb19{ margin-bottom:19px; }
	.mmb20{ margin-bottom:20px; }
	.mmb21{ margin-bottom:21px; }
	.mmb22{ margin-bottom:22px; }
	.mmb23{ margin-bottom:23px; }
	.mmb24{ margin-bottom:24px; }
	.mmb25{ margin-bottom:25px; }
	.mmb26{ margin-bottom:26px; }
	.mmb27{ margin-bottom:27px; }
	.mmb28{ margin-bottom:28px; }
	.mmb29{ margin-bottom:29px; }
	.mmb30{ margin-bottom:30px; }
	.mmb35{ margin-bottom:35px; }
	.mmb40{ margin-bottom:40px; }
	.mmb45{ margin-bottom:45px; }
	.mmb50{ margin-bottom:50px; }

	.mm0{ margin:0px; }
	.mm1{ margin:1px; }
	.mm2{ margin:2px; }
	.mm3{ margin:3px; }
	.mm4{ margin:4px; }
	.mm5{ margin:5px; }
	.mm6{ margin:6px; }
	.mm7{ margin:7px; }
	.mm8{ margin:8px; }
	.mm9{ margin:9px; }
	.mm10{ margin:10px; }
	.mm11{ margin:11px; }
	.mm12{ margin:12px; }
	.mm13{ margin:13px; }
	.mm14{ margin:14px; }
	.mm15{ margin:15px; }
	.mm16{ margin:16px; }
	.mm17{ margin:17px; }
	.mm18{ margin:18px; }
	.mm19{ margin:19px; }
	.mm20{ margin:20px; }
	.mm21{ margin:21px; }
	.mm22{ margin:22px; }
	.mm23{ margin:23px; }
	.mm24{ margin:24px; }
	.mm25{ margin:25px; }
	.mm26{ margin:26px; }
	.mm27{ margin:27px; }
	.mm28{ margin:28px; }
	.mm29{ margin:29px; }
	.mm30{ margin:30px; }
	.mm35{ margin:35px; }
	.mm40{ margin:40px; }
	.mm45{ margin:45px; }
	.mm50{ margin:50px; }

	
	/*padding setting*/
	.mpr0{ padding-right:0px; }
	.mpr1{ padding-right:1px; }
	.mpr2{ padding-right:2px; }
	.mpr3{ padding-right:3px; }
	.mpr4{ padding-right:4px; }
	.mpr5{ padding-right:5px; }
	.mpr6{ padding-right:6px; }
	.mpr7{ padding-right:7px; }
	.mpr8{ padding-right:8px; }
	.mpr9{ padding-right:9px; }
	.mpr10{ padding-right:10px; }
	.mpr11{ padding-right:11px; }
	.mpr12{ padding-right:12px; }
	.mpr13{ padding-right:13px; }
	.mpr14{ padding-right:14px; }
	.mpr15{ padding-right:15px; }
	.mpr16{ padding-right:16px; }
	.mpr17{ padding-right:17px; }
	.mpr18{ padding-right:18px; }
	.mpr19{ padding-right:19px; }
	.mpr20{ padding-right:20px; }
	.mpr21{ padding-right:21px; }
	.mpr22{ padding-right:22px; }
	.mpr23{ padding-right:23px; }
	.mpr24{ padding-right:24px; }
	.mpr25{ padding-right:25px; }
	.mpr26{ padding-right:26px; }
	.mpr27{ padding-right:27px; }
	.mpr28{ padding-right:28px; }
	.mpr29{ padding-right:29px; }
	.mpr30{ padding-right:30px; }
	.mpr35{ padding-right:35px; }
	.mpr40{ padding-right:40px; }
	.mpr45{ padding-right:45px; }
	.mpr50{ padding-right:50px; }
	.mpr80{ padding-right:80px; }
	.mpr100 { padding-right:100px; }
	.mpr110 { padding-right:110px; }
	.mpr120 { padding-right:120px; }
	.mpr130 { padding-right:130px; }
	.mpr140 { padding-right:140px; }
	.mpr150 { padding-right:150px; }
	.mpr160 { padding-right:160px; }
	.mpr170 { padding-right:170px; }
	.mpr180 { padding-right:180px; }
	.mpr190 { padding-right:190px; }
	.mpr200 { padding-right:200px; }
	.mpr210 { padding-right:210px; }
	.mpr220 { padding-right:220px; }
	.mpr230 { padding-right:230px; }
	.mpr240 { padding-right:240px; }
	.mpr250 { padding-right:250px; }
	.mpr260 { padding-right:260px; }
	.mpr270 { padding-right:270px; }
	.mpr280 { padding-right:280px; }
	.mpr290 { padding-right:290px; }
	.mpr300 { padding-right:300px; }
	
	.mpl0{ padding-left:0px; }
	.mpl1{ padding-left:1px; }
	.mpl2{ padding-left:2px; }
	.mpl3{ padding-left:3px; }
	.mpl4{ padding-left:4px; }
	.mpl5{ padding-left:5px; }
	.mpl6{ padding-left:6px; }
	.mpl7{ padding-left:7px; }
	.mpl8{ padding-left:8px; }
	.mpl9{ padding-left:9px; }
	.mpl10{ padding-left:10px; }
	.mpl11{ padding-left:11px; }
	.mpl12{ padding-left:12px; }
	.mpl13{ padding-left:13px; }
	.mpl14{ padding-left:14px; }
	.mpl15{ padding-left:15px; }
	.mpl16{ padding-left:16px; }
	.mpl17{ padding-left:17px; }
	.mpl18{ padding-left:18px; }
	.mpl19{ padding-left:19px; }
	.mpl20{ padding-left:20px; }
	.mpl21{ padding-left:21px; }
	.mpl22{ padding-left:22px; }
	.mpl23{ padding-left:23px; }
	.mpl24{ padding-left:24px; }
	.mpl25{ padding-left:25px; }
	.mpl26{ padding-left:26px; }
	.mpl27{ padding-left:27px; }
	.mpl28{ padding-left:28px; }
	.mpl29{ padding-left:29px; }
	.mpl30{ padding-left:30px; }
	.mpl35{ padding-left:35px; }
	.mpl40{ padding-left:40px; }
	.mpl45{ padding-left:45px; }
	.mpl50{ padding-left:50px; }
	.mpl60{ padding-left:60px; }
	.mpl70{ padding-left:70px; }
	.mpl100 { padding-left:100px; }
	.mpl110 { padding-left:110px; }
	.mpl120 { padding-left:120px; }
	.mpl130 { padding-left:130px; }
	.mpl140 { padding-left:140px; }
	.mpl150 { padding-left:150px; }
	.mpl160 { padding-left:160px; }
	.mpl170 { padding-left:170px; }
	.mpl180 { padding-left:180px; }
	.mpl190 { padding-left:190px; }
	.mpl200 { padding-left:200px; }
	.mpl210 { padding-left:210px; }
	.mpl220 { padding-left:220px; }
	.mpl230 { padding-left:230px; }
	.mpl240 { padding-left:240px; }
	.mpl250 { padding-left:250px; }
	.mpl260 { padding-left:260px; }
	.mpl270 { padding-left:270px; }
	.mpl280 { padding-left:280px; }
	.mpl290 { padding-left:290px; }
	.mpl300 { padding-left:300px; }
	
	.mpt0{ padding-top:0px; }
	.mpt1{ padding-top:1px; }
	.mpt2{ padding-top:2px; }
	.mpt3{ padding-top:3px; }
	.mpt4{ padding-top:4px; }
	.mpt5{ padding-top:5px; }
	.mpt6{ padding-top:6px; }
	.mpt7{ padding-top:7px; }
	.mpt8{ padding-top:8px; }
	.mpt9{ padding-top:9px; }
	.mpt10{ padding-top:10px; }
	.mpt11{ padding-top:11px; }
	.mpt12{ padding-top:12px; }
	.mpt13{ padding-top:13px; }
	.mpt14{ padding-top:14px; }
	.mpt15{ padding-top:15px; }
	.mpt16{ padding-top:16px; }
	.mpt17{ padding-top:17px; }
	.mpt18{ padding-top:18px; }
	.mpt19{ padding-top:19px; }
	.mpt20{ padding-top:20px; }
	.mpt21{ padding-top:21px; }
	.mpt22{ padding-top:22px; }
	.mpt23{ padding-top:23px; }
	.mpt24{ padding-top:24px; }
	.mpt25{ padding-top:25px; }
	.mpt26{ padding-top:26px; }
	.mpt27{ padding-top:27px; }
	.mpt28{ padding-top:28px; }
	.mpt29{ padding-top:29px; }
	.mpt30{ padding-top:30px; }
	.mpt35{ padding-top:35px; }
	.mpt40{ padding-top:40px; }
	.mpt45{ padding-top:45px; }
	.mpt50{ padding-top:50px; }
	
	.mpb0{ padding-bottom:0px; }
	.mpb1{ padding-bottom:1px; }
	.mpb2{ padding-bottom:2px; }
	.mpb3{ padding-bottom:3px; }
	.mpb4{ padding-bottom:4px; }
	.mpb5{ padding-bottom:5px; }
	.mpb6{ padding-bottom:6px; }
	.mpb7{ padding-bottom:7px; }
	.mpb8{ padding-bottom:8px; }
	.mpb9{ padding-bottom:9px; }
	.mpb10{ padding-bottom:10px; }
	.mpb11{ padding-bottom:11px; }
	.mpb12{ padding-bottom:12px; }
	.mpb13{ padding-bottom:13px; }
	.mpb14{ padding-bottom:14px; }
	.mpb15{ padding-bottom:15px; }
	.mpb16{ padding-bottom:16px; }
	.mpb17{ padding-bottom:17px; }
	.mpb18{ padding-bottom:18px; }
	.mpb19{ padding-bottom:19px; }
	.mpb20{ padding-bottom:20px; }
	.mpb21{ padding-bottom:21px; }
	.mpb22{ padding-bottom:22px; }
	.mpb23{ padding-bottom:23px; }
	.mpb24{ padding-bottom:24px; }
	.mpb25{ padding-bottom:25px; }
	.mpb26{ padding-bottom:26px; }
	.mpb27{ padding-bottom:27px; }
	.mpb28{ padding-bottom:28px; }
	.mpb29{ padding-bottom:29px; }
	.mpb30{ padding-bottom:30px; }
	.mpb35{ padding-bottom:35px; }
	.mpb40{ padding-bottom:40px; }
	.mpb45{ padding-bottom:45px; }
	.mpb50{ padding-bottom:50px; }
	
	.mp0{ padding:0px; }
	.mp1{ padding:1px; }
	.mp2{ padding:2px; }
	.mp3{ padding:3px; }
	.mp4{ padding:4px; }
	.mp5{ padding:5px; }
	.mp6{ padding:6px; }
	.mp7{ padding:7px; }
	.mp8{ padding:8px; }
	.mp9{ padding:9px; }
	.mp10{ padding:10px; }
	.mp11{ padding:11px; }
	.mp12{ padding:12px; }
	.mp13{ padding:13px; }
	.mp14{ padding:14px; }
	.mp15{ padding:15px; }
	.mp16{ padding:16px; }
	.mp17{ padding:17px; }
	.mp18{ padding:18px; }
	.mp19{ padding:19px; }
	.mp20{ padding:20px; }
	.mp21{ padding:21px; }
	.mp22{ padding:22px; }
	.mp23{ padding:23px; }
	.mp24{ padding:24px; }
	.mp25{ padding:25px; }
	.mp26{ padding:26px; }
	.mp27{ padding:27px; }
	.mp28{ padding:28px; }
	.mp29{ padding:29px; }
	.mp30{ padding:30px; }
	.mp35{ padding:35px; }
	.mp40{ padding:40px; }
	.mp45{ padding:45px; }
	.mp50{ padding:50px; }
		
	
	.mw10p{width:10%;}
	.mw15p{width:15%;}
	.mw175p{width:17.5%;}
	.mw20p{width:20%;}
	.mw25p{width:25%;}
	.mw30p{width:30%;}
	.mw35p{width:35%;}
	.mw40p{width:40%;}
	.mw45p{width:45%;}
	.mw50p{width:50%;}
	.mw55p{width:55%;}
	.mw60p{width:60%;}
	.mw65p{width:65%;}
	.mw70p{width:70%;}
	.mw75p{width:75%;}
	.mw80p{width:80%;}
	.mw85p{width:85%;}
	.mw90p{width:90%;}
	.mw95p{width:95%;}
	.mw99p{width:99%;}
	.mw100p{width:100%;}
	.mw33p{width:33.33%;}
	.mw66p{width:66.66%;}
	
	/*height*/
	.mhauto{ height:auto !important; }
	.mh10{ height:10px; }
	.mh20{ height:20px; }
	.mh30{ height:30px; }
	.mh40{ height:40px; }
	.mh50{ height:50px; }
	.mh60{ height:60px; }
	.mh70{ height:70px; }
	.mh80{ height:80px; }
	.mh90{ height:90px; }
	.mh100{ height:100px; }
	.mh110{ height:110px; }
	.mh120{ height:120px; }
	.mh125{ height:125px; }
	.mh130{ height:130px; }
	.mh140{ height:140px; }
	.mh150{ height:150px; }
	.mh160{ height:160px; }
	.mh170{ height:170px; }
	.mh180{ height:180px; }
	.mh190{ height:190px; }
	.mh200{ height:200px; }
	.mh210{ height:210px; }
	.mh220{ height:220px; }
	.mh230{ height:230px; }
	.mh240{ height:240px; }
	.mh250{ height:250px; }
	.mh260{ height:260px; }
	.mh270{ height:270px; }
	.mh280{ height:280px; }
	.mh290{ height:290px; }
	.mh300{ height:300px; }
	
	.mow50{ width:50px;}
	.mow120{ width:130px;}
}

@media screen and (max-width: 480px) {
	img.fitcopy{
		max-width:90%;
	}
	.h-1hub{
		height:80px;
	}
	
	.mmobNone{
		display:none;
	}
	
	.mmfl{ float:left;}
	.mmfr{ float:right;}
	.mmfNone{float:none;}

	
	.menuBtn2{
		margin-left:-4px;
	}
	body {
	font-size: 93%;
	}
	
	.grdW{
		min-width:320px;
		
	}
	.box{
		margin-left:10px;
		margin-right:10px;
	}
	#gheaderColumn1{
		width:100%;
	}
　　/*メインロゴを小さくする場合*/
/* 
	#gheaderColumn1 .logo{
		width:100px;
		float:left;
	}
*/
	#gheaderColumn1 .logo2{
		padding:13px 0 0 0px;
		float:left;
	}
	#gheaderColumn1 .logo2 img{
		width:120px;
		height:auto;
	}
	
	#footerSiteMap{
		padding:10px 4px;
	}

	
	.menuBtn{
		top:0px;
		right:0px;
	}
	.phoneNone,.phoneNoneB{
		display:none;
	}

	/*
	オート設定
	1/2か1/1に
	*/
	.g5{
		width:50%;
	}
	.g10{
		width:50%;
	}
	.g15{
		width:50%;
	}
	.g175{
		width:50%;
	}
	.g1875{
		width:50%;
	}
	.g20{
		width:50%;
	}
	.g25{
		width:50%;
	}
	.g30{
		width:50%;
	}
	.g33{
		width:50%;
	}
	.g35{
		width:50%;
	}
	.g40{
		width:50%;
	}
	.g45{
		width:50%;
	}
	.g50{
		width:50%;
	}
	.g55{
		width:100%;
	}
	.g60{
		width:100%;
	}
	.g65{
		width:100%;
	}
	.g66{
		width:100%;
	}
	.g70{
		width:100%;
	}
	.g75{
		width:100%;
	}
	.g80{
		width:100%;
	}
	.g85{
		width:100%;
	}
	.g90{
		width:100%;
	}
	.g95{
		width:100%;
	}
	.g100{
		width:100%;
	}

	/*マニュアル指定*/
	.mmg5{
		width:5%;
	}
	.mmg10{
		width:10%;
	}
	.mmg15{
		width:15%;
	}
	.mmg175{
		width:17.5%;
	}
	.mmg1875{
		width:18.75%;
	}
	.mmg20{
		width:20%;
	}
	.mmg25{
		width:25%;
	}
	.mmg30{
		width:30%;
	}
	.mmg33{
		width:33.33%;
	}
	.mmg35{
		width:35%;
	}
	.mmg40{
		width:40%;
	}
	.mmg45{
		width:45%;
	}
	.mmg50{
		width:50%;
	}
	.mmg55{
		width:55%;
	}
	.mmg60{
		width:60%;
	}
	.mmg66{
		width:66.66%;
	}
	.mmg70{
		width:70%;
	}
	.mmg75{
		width:75%;
	}
	.mmg80{
		width:80%;
	}
	.mmg85{
		width:85%;
	}
	.mmg90{
		width:90%;
	}
	.mmg95{
		width:95%;
	}
	.mmg100{
		width:100%;
	}

	.hMain {
		height:auto !important;
	}

	.hMain .lt {
		position:relative;
		
	}
	
	.hMain .lt img {
		width: 100%;
		height: auto;
	}

	.hmS,.hmS2,.hmPdf,.hmOther,.hmCata,.hmDb,.hmDl{
		padding-left:1.5em;
	}
	
	.amPdf,.amOther,.amCata,.amDb,.amDl{
		padding-right:1.5em;
	}

	/*line-height Setting*/
	.mmlh10{ line-height:1; }
	.mmlh11{ line-height:1.1; }
	.mmlh12{ line-height:1.2; }
	.mmlh13{ line-height:1.3; }
	.mmlh14{ line-height:1.4; }
	.mmlh15{ line-height:1.5; }
	.mmlh16{ line-height:1.6; }
	.mmlh17{ line-height:1.7; }
	.mmlh18{ line-height:1.8; }
	.mmlh19{ line-height:1.9; }
	.mmlh20{ line-height:2.0; }
	.mmlh21{ line-height:2.1; }
	.mmlh22{ line-height:2.2; }
	.mmlh23{ line-height:2.3; }
	.mmlh24{ line-height:2.4; }
	.mmlh25{ line-height:2.5; }
	.mmlh26{ line-height:2.6; }
	.mmlh27{ line-height:2.7; }
	.mmlh28{ line-height:2.8; }
	.mmlh29{ line-height:2.9; }
	.mmlh30{ line-height:3.0; }

	/*font-size setting*/
	.mmtext09 { font-size:69%; }
	.mmtext10 { font-size:77%; }
	.mmtext11 { font-size:85%; }
	.mmtext12 { font-size:93%; }
	.mmtext13 { font-size:100%; }
	.mmtext14 { font-size:108%; }
	.mmtext15 { font-size:116%; }
	.mmtext16 { font-size:123.1%; }
	.mmtext17 { font-size:131%; }
	.mmtext18 { font-size:138.5%; }
	.mmtext19 { font-size:146.5%; }
	.mmtext20 { font-size:153.9%; }
	.mmtext21 { font-size:161.6%; }
	.mmtext22 { font-size:167%; }
	.mmtext23 { font-size:174%; }
	.mmtext24 { font-size:182%; }
	.mmtext25 { font-size:189%; }
	.mmtext26 { font-size:197%; }

	/*text-align setting*/
	.mmtc{text-align:center;}
	.mmtl{text-align:left;}
	.mmtr{text-align:right;}

	.ibBox.mmtc,.rows.mmtc{
		-webkit-justify-content: center;
	}
	.ibBox.mmtl,.rows.mmtl{
		-webkit-justify-content: flex-start;
	}
	.ibBox.mmtr,.rows.mmtr{
		-webkit-justify-content: flex-end;
	}	
	
	/*padding setting*/
	.mmpr0{ padding-right:0px; }
	.mmpr1{ padding-right:1px; }
	.mmpr2{ padding-right:2px; }
	.mmpr3{ padding-right:3px; }
	.mmpr4{ padding-right:4px; }
	.mmpr5{ padding-right:5px; }
	.mmpr6{ padding-right:6px; }
	.mmpr7{ padding-right:7px; }
	.mmpr8{ padding-right:8px; }
	.mmpr9{ padding-right:9px; }
	.mmpr10{ padding-right:10px; }
	.mmpr11{ padding-right:11px; }
	.mmpr12{ padding-right:12px; }
	.mmpr13{ padding-right:13px; }
	.mmpr14{ padding-right:14px; }
	.mmpr15{ padding-right:15px; }
	.mmpr16{ padding-right:16px; }
	.mmpr17{ padding-right:17px; }
	.mmpr18{ padding-right:18px; }
	.mmpr19{ padding-right:19px; }
	.mmpr20{ padding-right:20px; }
	.mmpr21{ padding-right:21px; }
	.mmpr22{ padding-right:22px; }
	.mmpr23{ padding-right:23px; }
	.mmpr24{ padding-right:24px; }
	.mmpr25{ padding-right:25px; }
	.mmpr26{ padding-right:26px; }
	.mmpr27{ padding-right:27px; }
	.mmpr28{ padding-right:28px; }
	.mmpr29{ padding-right:29px; }
	.mmpr30{ padding-right:30px; }
	.mmpr35{ padding-right:35px; }
	.mmpr40{ padding-right:40px; }
	.mmpr45{ padding-right:45px; }
	.mmpr50{ padding-right:50px; }
	.mmpr80{ padding-right:80px; }
	.mmpr100 { padding-right:100px; }
	.mmpr110 { padding-right:110px; }
	.mmpr120 { padding-right:120px; }
	.mmpr130 { padding-right:130px; }
	.mmpr140 { padding-right:140px; }
	.mmpr150 { padding-right:150px; }
	.mmpr160 { padding-right:160px; }
	.mmpr170 { padding-right:170px; }
	.mmpr180 { padding-right:180px; }
	.mmpr190 { padding-right:190px; }
	.mmpr200 { padding-right:200px; }
	.mmpr210 { padding-right:210px; }
	.mmpr220 { padding-right:220px; }
	.mmpr230 { padding-right:230px; }
	.mmpr240 { padding-right:240px; }
	.mmpr250 { padding-right:250px; }
	.mmpr260 { padding-right:260px; }
	.mmpr270 { padding-right:270px; }
	.mmpr280 { padding-right:280px; }
	.mmpr290 { padding-right:290px; }
	.mmpr300 { padding-right:300px; }

	.mmpl0{ padding-left:0px; }
	.mmpl1{ padding-left:1px; }
	.mmpl2{ padding-left:2px; }
	.mmpl3{ padding-left:3px; }
	.mmpl4{ padding-left:4px; }
	.mmpl5{ padding-left:5px; }
	.mmpl6{ padding-left:6px; }
	.mmpl7{ padding-left:7px; }
	.mmpl8{ padding-left:8px; }
	.mmpl9{ padding-left:9px; }
	.mmpl10{ padding-left:10px; }
	.mmpl11{ padding-left:11px; }
	.mmpl12{ padding-left:12px; }
	.mmpl13{ padding-left:13px; }
	.mmpl14{ padding-left:14px; }
	.mmpl15{ padding-left:15px; }
	.mmpl16{ padding-left:16px; }
	.mmpl17{ padding-left:17px; }
	.mmpl18{ padding-left:18px; }
	.mmpl19{ padding-left:19px; }
	.mmpl20{ padding-left:20px; }
	.mmpl21{ padding-left:21px; }
	.mmpl22{ padding-left:22px; }
	.mmpl23{ padding-left:23px; }
	.mmpl24{ padding-left:24px; }
	.mmpl25{ padding-left:25px; }
	.mmpl26{ padding-left:26px; }
	.mmpl27{ padding-left:27px; }
	.mmpl28{ padding-left:28px; }
	.mmpl29{ padding-left:29px; }
	.mmpl30{ padding-left:30px; }
	.mmpl35{ padding-left:35px; }
	.mmpl40{ padding-left:40px; }
	.mmpl45{ padding-left:45px; }
	.mmpl50{ padding-left:50px; }
	.mmpl60{ padding-left:60px; }
	.mmpl70{ padding-left:70px; }
	.mmpl100 { padding-left:100px; }
	.mmpl110 { padding-left:110px; }
	.mmpl120 { padding-left:120px; }
	.mmpl130 { padding-left:130px; }
	.mmpl140 { padding-left:140px; }
	.mmpl150 { padding-left:150px; }
	.mmpl160 { padding-left:160px; }
	.mmpl170 { padding-left:170px; }
	.mmpl180 { padding-left:180px; }
	.mmpl190 { padding-left:190px; }
	.mmpl200 { padding-left:200px; }
	.mmpl210 { padding-left:210px; }
	.mmpl220 { padding-left:220px; }
	.mmpl230 { padding-left:230px; }
	.mmpl240 { padding-left:240px; }
	.mmpl250 { padding-left:250px; }
	.mmpl260 { padding-left:260px; }
	.mmpl270 { padding-left:270px; }
	.mmpl280 { padding-left:280px; }
	.mmpl290 { padding-left:290px; }
	.mmpl300 { padding-left:300px; }

	.mmpt0{ padding-top:0px; }
	.mmpt1{ padding-top:1px; }
	.mmpt2{ padding-top:2px; }
	.mmpt3{ padding-top:3px; }
	.mmpt4{ padding-top:4px; }
	.mmpt5{ padding-top:5px; }
	.mmpt6{ padding-top:6px; }
	.mmpt7{ padding-top:7px; }
	.mmpt8{ padding-top:8px; }
	.mmpt9{ padding-top:9px; }
	.mmpt10{ padding-top:10px; }
	.mmpt11{ padding-top:11px; }
	.mmpt12{ padding-top:12px; }
	.mmpt13{ padding-top:13px; }
	.mmpt14{ padding-top:14px; }
	.mmpt15{ padding-top:15px; }
	.mmpt16{ padding-top:16px; }
	.mmpt17{ padding-top:17px; }
	.mmpt18{ padding-top:18px; }
	.mmpt19{ padding-top:19px; }
	.mmpt20{ padding-top:20px; }
	.mmpt21{ padding-top:21px; }
	.mmpt22{ padding-top:22px; }
	.mmpt23{ padding-top:23px; }
	.mmpt24{ padding-top:24px; }
	.mmpt25{ padding-top:25px; }
	.mmpt26{ padding-top:26px; }
	.mmpt27{ padding-top:27px; }
	.mmpt28{ padding-top:28px; }
	.mmpt29{ padding-top:29px; }
	.mmpt30{ padding-top:30px; }
	.mmpt35{ padding-top:35px; }
	.mmpt40{ padding-top:40px; }
	.mmpt45{ padding-top:45px; }
	.mmpt50{ padding-top:50px; }

	.mmpb0{ padding-bottom:0px; }
	.mmpb1{ padding-bottom:1px; }
	.mmpb2{ padding-bottom:2px; }
	.mmpb3{ padding-bottom:3px; }
	.mmpb4{ padding-bottom:4px; }
	.mmpb5{ padding-bottom:5px; }
	.mmpb6{ padding-bottom:6px; }
	.mmpb7{ padding-bottom:7px; }
	.mmpb8{ padding-bottom:8px; }
	.mmpb9{ padding-bottom:9px; }
	.mmpb10{ padding-bottom:10px; }
	.mmpb11{ padding-bottom:11px; }
	.mmpb12{ padding-bottom:12px; }
	.mmpb13{ padding-bottom:13px; }
	.mmpb14{ padding-bottom:14px; }
	.mmpb15{ padding-bottom:15px; }
	.mmpb16{ padding-bottom:16px; }
	.mmpb17{ padding-bottom:17px; }
	.mmpb18{ padding-bottom:18px; }
	.mmpb19{ padding-bottom:19px; }
	.mmpb20{ padding-bottom:20px; }
	.mmpb21{ padding-bottom:21px; }
	.mmpb22{ padding-bottom:22px; }
	.mmpb23{ padding-bottom:23px; }
	.mmpb24{ padding-bottom:24px; }
	.mmpb25{ padding-bottom:25px; }
	.mmpb26{ padding-bottom:26px; }
	.mmpb27{ padding-bottom:27px; }
	.mmpb28{ padding-bottom:28px; }
	.mmpb29{ padding-bottom:29px; }
	.mmpb30{ padding-bottom:30px; }
	.mmpb35{ padding-bottom:35px; }
	.mmpb40{ padding-bottom:40px; }
	.mmpb45{ padding-bottom:45px; }
	.mmpb50{ padding-bottom:50px; }

	.mmp0{ padding:0px; }
	.mmp1{ padding:1px; }
	.mmp2{ padding:2px; }
	.mmp3{ padding:3px; }
	.mmp4{ padding:4px; }
	.mmp5{ padding:5px; }
	.mmp6{ padding:6px; }
	.mmp7{ padding:7px; }
	.mmp8{ padding:8px; }
	.mmp9{ padding:9px; }
	.mmp10{ padding:10px; }
	.mmp11{ padding:11px; }
	.mmp12{ padding:12px; }
	.mmp13{ padding:13px; }
	.mmp14{ padding:14px; }
	.mmp15{ padding:15px; }
	.mmp16{ padding:16px; }
	.mmp17{ padding:17px; }
	.mmp18{ padding:18px; }
	.mmp19{ padding:19px; }
	.mmp20{ padding:20px; }
	.mmp21{ padding:21px; }
	.mmp22{ padding:22px; }
	.mmp23{ padding:23px; }
	.mmp24{ padding:24px; }
	.mmp25{ padding:25px; }
	.mmp26{ padding:26px; }
	.mmp27{ padding:27px; }
	.mmp28{ padding:28px; }
	.mmp29{ padding:29px; }
	.mmp30{ padding:30px; }
	.mmp35{ padding:35px; }
	.mmp40{ padding:40px; }
	.mmp45{ padding:45px; }
	.mmp50{ padding:50px; }


	.mmw10p{width:10%;}
	.mmw15p{width:15%;}
	.mmw175p{width:17.5%;}
	.mmw20p{width:20%;}
	.mmw25p{width:25%;}
	.mmw30p{width:30%;}
	.mmw35p{width:35%;}
	.mmw40p{width:40%;}
	.mmw45p{width:45%;}
	.mmw50p{width:50%;}
	.mmw55p{width:55%;}
	.mmw60p{width:60%;}
	.mmw65p{width:65%;}
	.mmw70p{width:70%;}
	.mmw75p{width:75%;}
	.mmw80p{width:80%;}
	.mmw85p{width:85%;}
	.mmw90p{width:90%;}
	.mmw95p{width:95%;}
	.mmw99p{width:99%;}
	.mmw100p{width:100%;}
	.mmw33p{width:33.33%;}
	.mmw66p{width:66.66%;}

	/*height*/
	.mmhauto{ height:auto !important; }
	.mmh10{ height:10px; }
	.mmh20{ height:20px; }
	.mmh30{ height:30px; }
	.mmh40{ height:40px; }
	.mmh50{ height:50px; }
	.mmh60{ height:60px; }
	.mmh70{ height:70px; }
	.mmh80{ height:80px; }
	.mmh90{ height:90px; }
	.mmh100{ height:100px; }
	.mmh110{ height:110px; }
	.mmh120{ height:120px; }
	.mmh125{ height:125px; }
	.mmh130{ height:130px; }
	.mmh140{ height:140px; }
	.mmh150{ height:150px; }
	.mmh160{ height:160px; }
	.mmh170{ height:170px; }
	.mmh180{ height:180px; }
	.mmh190{ height:190px; }
	.mmh200{ height:200px; }
	.mmh210{ height:210px; }
	.mmh220{ height:220px; }
	.mmh230{ height:230px; }
	.mmh240{ height:240px; }
	.mmh250{ height:250px; }
	.mmh260{ height:260px; }
	.mmh270{ height:270px; }
	.mmh280{ height:280px; }
	.mmh290{ height:290px; }
	.mmh300{ height:300px; }
	
	
	.mmmr0{ margin-right:0px; }
	.mmmr1{ margin-right:1px; }
	.mmmr2{ margin-right:2px; }
	.mmmr3{ margin-right:3px; }
	.mmmr4{ margin-right:4px; }
	.mmmr5{ margin-right:5px; }
	.mmmr6{ margin-right:6px; }
	.mmmr7{ margin-right:7px; }
	.mmmr8{ margin-right:8px; }
	.mmmr9{ margin-right:9px; }
	.mmmr10{ margin-right:10px; }
	.mmmr11{ margin-right:11px; }
	.mmmr12{ margin-right:12px; }
	.mmmr13{ margin-right:13px; }
	.mmmr14{ margin-right:14px; }
	.mmmr15{ margin-right:15px; }
	.mmmr16{ margin-right:16px; }
	.mmmr17{ margin-right:17px; }
	.mmmr18{ margin-right:18px; }
	.mmmr19{ margin-right:19px; }
	.mmmr20{ margin-right:20px; }
	.mmmr21{ margin-right:21px; }
	.mmmr22{ margin-right:22px; }
	.mmmr23{ margin-right:23px; }
	.mmmr24{ margin-right:24px; }
	.mmmr25{ margin-right:25px; }
	.mmmr26{ margin-right:26px; }
	.mmmr27{ margin-right:27px; }
	.mmmr28{ margin-right:28px; }
	.mmmr29{ margin-right:29px; }
	.mmmr30{ margin-right:30px; }
	.mmmr35{ margin-right:35px; }
	.mmmr40{ margin-right:40px; }
	.mmmr45{ margin-right:45px; }
	.mmmr50{ margin-right:50px; }
	.mmmr60{ margin-right:60px; }
	.mmmr70{ margin-right:70px; }
	.mmmr80{ margin-right:80px; }
	.mmmr90{ margin-right:90px; }
	.mmmr100{ margin-right:100px; }
	.mmmr110{ margin-right:110px; }
	.mmmr120{ margin-right:120px; }
	.mmmr130{ margin-right:130px; }
	.mmmr140{ margin-right:140px; }
	.mmmr210{ margin-right:210px; }
	.mmmr220{ margin-right:220px; }
	.mmmr230{ margin-right:230px; }
	.mmmr240{ margin-right:240px; }
	.mmmr250{ margin-right:250px; }
	.mmmr260{ margin-right:260px; }
	.mmmr320{ margin-right:320px; }

	.mmml0{ margin-left:0px; }
	.mmml1{ margin-left:1px; }
	.mmml2{ margin-left:2px; }
	.mmml3{ margin-left:3px; }
	.mmml4{ margin-left:4px; }
	.mmml5{ margin-left:5px; }
	.mmml6{ margin-left:6px; }
	.mmml7{ margin-left:7px; }
	.mmml8{ margin-left:8px; }
	.mmml9{ margin-left:9px; }
	.mmml10{ margin-left:10px; }
	.mmml11{ margin-left:11px; }
	.mmml12{ margin-left:12px; }
	.mmml13{ margin-left:13px; }
	.mmml14{ margin-left:14px; }
	.mmml15{ margin-left:15px; }
	.mmml16{ margin-left:16px; }
	.mmml17{ margin-left:17px; }
	.mmml18{ margin-left:18px; }
	.mmml19{ margin-left:19px; }
	.mmml20{ margin-left:20px; }
	.mmml21{ margin-left:21px; }
	.mmml22{ margin-left:22px; }
	.mmml23{ margin-left:23px; }
	.mmml24{ margin-left:24px; }
	.mmml25{ margin-left:25px; }
	.mmml26{ margin-left:26px; }
	.mmml27{ margin-left:27px; }
	.mmml28{ margin-left:28px; }
	.mmml29{ margin-left:29px; }
	.mmml30{ margin-left:30px; }
	.mmml35{ margin-left:35px; }
	.mmml40{ margin-left:40px; }
	.mmml45{ margin-left:45px; }
	.mmml50{ margin-left:50px; }
	.mmml60{ margin-left:60px; }
	.mmml70{ margin-left:70px; }
	.mmml80{ margin-left:80px; }
	.mmml90{ margin-left:90px; }
	.mmml100{ margin-left:100px; }
	.mmml110{ margin-left:110px; }
	.mmml120{ margin-left:120px; }
	.mmml130{ margin-left:130px; }
	.mmml140{ margin-left:140px; }
	.mmml200{ margin-left:200px; }
	.mmml300{ margin-left:300px; }

	.mmmt0{ margin-top:0px; }
	.mmmt1{ margin-top:1px; }
	.mmmt2{ margin-top:2px; }
	.mmmt3{ margin-top:3px; }
	.mmmt4{ margin-top:4px; }
	.mmmt5{ margin-top:5px; }
	.mmmt6{ margin-top:6px; }
	.mmmt7{ margin-top:7px; }
	.mmmt8{ margin-top:8px; }
	.mmmt9{ margin-top:9px; }
	.mmmt10{ margin-top:10px; }
	.mmmt11{ margin-top:11px; }
	.mmmt12{ margin-top:12px; }
	.mmmt13{ margin-top:13px; }
	.mmmt14{ margin-top:14px; }
	.mmmt15{ margin-top:15px; }
	.mmmt16{ margin-top:16px; }
	.mmmt17{ margin-top:17px; }
	.mmmt18{ margin-top:18px; }
	.mmmt19{ margin-top:19px; }
	.mmmt20{ margin-top:20px; }
	.mmmt21{ margin-top:21px; }
	.mmmt22{ margin-top:22px; }
	.mmmt23{ margin-top:23px; }
	.mmmt24{ margin-top:24px; }
	.mmmt25{ margin-top:25px; }
	.mmmt26{ margin-top:26px; }
	.mmmt27{ margin-top:27px; }
	.mmmt28{ margin-top:28px; }
	.mmmt29{ margin-top:29px; }
	.mmmt30{ margin-top:30px; }
	.mmmt35{ margin-top:35px; }
	.mmmt40{ margin-top:40px; }
	.mmmt45{ margin-top:45px; }
	.mmmt50{ margin-top:50px; }

	.mmmb0{ margin-bottom:0px; }
	.mmmb1{ margin-bottom:1px; }
	.mmmb2{ margin-bottom:2px; }
	.mmmb3{ margin-bottom:3px; }
	.mmmb4{ margin-bottom:4px; }
	.mmmb5{ margin-bottom:5px; }
	.mmmb6{ margin-bottom:6px; }
	.mmmb7{ margin-bottom:7px; }
	.mmmb8{ margin-bottom:8px; }
	.mmmb9{ margin-bottom:9px; }
	.mmmb10{ margin-bottom:10px; }
	.mmmb11{ margin-bottom:11px; }
	.mmmb12{ margin-bottom:12px; }
	.mmmb13{ margin-bottom:13px; }
	.mmmb14{ margin-bottom:14px; }
	.mmmb15{ margin-bottom:15px; }
	.mmmb16{ margin-bottom:16px; }
	.mmmb17{ margin-bottom:17px; }
	.mmmb18{ margin-bottom:18px; }
	.mmmb19{ margin-bottom:19px; }
	.mmmb20{ margin-bottom:20px; }
	.mmmb21{ margin-bottom:21px; }
	.mmmb22{ margin-bottom:22px; }
	.mmmb23{ margin-bottom:23px; }
	.mmmb24{ margin-bottom:24px; }
	.mmmb25{ margin-bottom:25px; }
	.mmmb26{ margin-bottom:26px; }
	.mmmb27{ margin-bottom:27px; }
	.mmmb28{ margin-bottom:28px; }
	.mmmb29{ margin-bottom:29px; }
	.mmmb30{ margin-bottom:30px; }
	.mmmb35{ margin-bottom:35px; }
	.mmmb40{ margin-bottom:40px; }
	.mmmb45{ margin-bottom:45px; }
	.mmmb50{ margin-bottom:50px; }

	.mmm0{ margin:0px; }
	.mmm1{ margin:1px; }
	.mmm2{ margin:2px; }
	.mmm3{ margin:3px; }
	.mmm4{ margin:4px; }
	.mmm5{ margin:5px; }
	.mmm6{ margin:6px; }
	.mmm7{ margin:7px; }
	.mmm8{ margin:8px; }
	.mmm9{ margin:9px; }
	.mmm10{ margin:10px; }
	.mmm11{ margin:11px; }
	.mmm12{ margin:12px; }
	.mmm13{ margin:13px; }
	.mmm14{ margin:14px; }
	.mmm15{ margin:15px; }
	.mmm16{ margin:16px; }
	.mmm17{ margin:17px; }
	.mmm18{ margin:18px; }
	.mmm19{ margin:19px; }
	.mmm20{ margin:20px; }
	.mmm21{ margin:21px; }
	.mmm22{ margin:22px; }
	.mmm23{ margin:23px; }
	.mmm24{ margin:24px; }
	.mmm25{ margin:25px; }
	.mmm26{ margin:26px; }
	.mmm27{ margin:27px; }
	.mmm28{ margin:28px; }
	.mmm29{ margin:29px; }
	.mmm30{ margin:30px; }
	.mmm35{ margin:35px; }
	.mmm40{ margin:40px; }
	.mmm45{ margin:45px; }
	.mmm50{ margin:50px; }


	.mmw50{ width:50px;}
}



/*----------------------------------------
SP
-----------------------------------------*/
@media screen and (max-width: 760px){
#gHeader {
    border-bottom: none;
}

.canon{
  position: absolute;
    right: 55px;
  top: 7px;
}
.canon img{
      width: 54px;
}

.menuBtn{
  background: #cc0000;
  padding: 0 0 0 10px;
  border: none;
}
.menuBtn span.icon-bar{
  background-color: #fff;
  width: 23px;
}
#gNavMOV{
    background: #fff;
}
#gNavMOV .grdW > p{
  margin:20px 0 10px 0;
}
#gNavMOV .gnavB li{
  background: #535353;
  padding: 10px 0 8px;
  border-bottom: 1px solid #fff;
}
#gNavMOV .gnavB li:first-child,
#gNavMOV .gnavB li:nth-of-type(2),
#gNavMOV .gnavB li:last-child{
  padding:0;
}
#gNavMOV .gnavB li a{
  background: #cc0000;
  padding: 10px 0 6px 0;
}
#gNavMOV .gnavB > li a.bgOther{
  background: #fff;
  padding: 9px 0 6px;
}
#gNavMOV .gnavB a.menuClose{
    padding: 15px 0 10px 0;
}
#gNavMOV .gnavB li a:after{
  content: none;
}


#gNavMOV img{
  width: 100%;
}
.peopleinterview_contents .topMainImage > img{
  width: 100%;
}
.peopleinterview h1 {
    margin: 50px 0 0 0;
}
.peopleinterview h1 img,
.peopleinterview .topMainImage img{
  width: 100%;

}
.peopleinterview p.text01 {
  font-size: 12px;
  padding: 0 2%;
}
.peopleinterview ul{
  display: block;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: auto;
  margin: 50px auto 0;
}
.peopleinterview ul li{
  margin: 0 0 20px 0;
}


/* interview --------------------
---------------------------------*/
.peopleinterview_contents .topMainImage .mainTxt{
  position: initial;
  color: #000;
}
.peopleinterview_contents .topMainImage .mainTxt .mvtxt01{
  background: #cc0000;
  padding: 10px 0 2px 0;
}
.peopleinterview_contents .topMainImage .mainTxt .mvtxt02{
  font-size: 18px;
    margin: 28px 2% 0;
  line-height: 1.4em;
  color: #cc0000;
}
.peopleinterview_contents .topMainImage .mainTxt .mvtxt03{
  margin: 5px 2% 0;
  line-height: 1.4em;
}
.peopleinterview_contents .topMainImage .mainTxt .mvtxt04{
  margin: 5px 2% 0;
  font-size: 18px;
}
.peopleinterview_contents .interviewArea{
  width: 100%;
}
.peopleinterview_contents .interviewArea p.ttltxt{
  font-size: 16px;
  margin: 0 0 20px 0;
}
.peopleinterview_contents .interviewArea div p{
  font-size: 14px;
    width: auto;
}


.peopleinterview_contents .interviewArea div p:first-child{
  margin:0 0 0 0;

}
.peopleinterview_contents .interviewArea div p img{
width: 100%;
}
.peopleinterview_contents .interviewArea div p.images{}

.peopleinterview_contents .interviewArea dl div,
.peopleinterview_contents .interviewArea dl{
  display: block;
}
.peopleinterview_contents .interviewArea dl{
  margin: 20px 0 0 0;
  display: block;
}
.peopleinterview_contents .interviewArea dl:last-child{
  margin:30px 0;
}
.peopleinterview_contents .interviewArea dt{
    margin: 0 0 0 0;
}
.peopleinterview_contents .interviewArea dt p{
  width: auto;
  height: auto;
  text-align: left;
  padding: 0 0 0 10px;
}
.peopleinterview_contents .interviewArea dt p img{
  width: 15%;
  vertical-align: middle;
}

.peopleinterview_contents .interviewArea dd{
  width: 100%;
  padding: 0 2%;
}
.peopleinterview_contents p a img{
  width: 193px;
}


/*--------------------------------
---------------------------------*/


.footbox {
    width: 100%;
    display: inherit;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
.copyright{
  width: 89%;
  margin: 20px auto 0;
}
.pconly{
  display: none!important;
}
.sponly{
  display: inline-block!important;
}
}