/* CSS Document */


/*font-override*/

body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}


#primary-nav .navbar-nav>li>a {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#primary-nav .navbar-nav>li>a:hover {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#primary-nav .dropdown-menu li a:link, #primary-nav .dropdown-menu li a:visited {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#primary-nav #menu-toggle {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: 'Myriad W01 Lt', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;

}

/*button to close mobile nav*/
.mobile-header #menu-toggle-close {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: 'Myriad W01 Lt', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#mobile-search .form-control {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#navbar-mobile li a:link, #navbar-mobile li a:visited {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#page-wrap #primary-nav .mega-nav li.nav-header a {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}


#page-wrap b, strong {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}
#page-wrap i {
	font-family: 'Myriad W01 It', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#primary-content h2 {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}
#primary-content h3 {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}
#primary-content h4 {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}
#primary-content h5 {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}
#primary-content h6 {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

#primary-content .content-header {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

#content-area .btn {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#content-area .btn-icon {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#content-area .btn-icon:hover {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#content-area .btn-icon-alt {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#content-area .btn-icon-alt:hover {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#content-area .btn-outline strong {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#content-area .btn-outline:hover strong {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}


.form-control {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

.radio label, .checkbox label {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

.help-block.with-errors ul li {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#product-select select.form-control {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

.table-responsive h2 {
	font-family: 'Myriad W01 Lt', sans-serif !important;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

.events-table tr td:first-child {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#primary-content .feed-table tr td {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#tweet-feed .tweet {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#news-room-feed .feed-table tr td {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#banner-area h1 {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: 'Myriad W01 Lt', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#banner-area h1 strong {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

#banner-area h2 {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#banner-area h1 .header-light {
	font-family: 'Myriad W01 Lt', sans-serif !important;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#modality-contact .dropdown-header {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

.side-navigation li.side-nav-header {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

.side-navigation li.side-nav-subheader {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
	
}

.side-navigation li ul li a:link, .side-navigation li ul li a:visited {
	font-family: 'Myriad W01 Lt', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

.side-navigation li.side-nav-header {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

.side-navigation li ul li a:link, .side-navigation li ul li a:visited {
	font-family: 'Myriad W01 Lt', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#press-release-navigation h3 {
	font-family: 'Myriad W01 SmBd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

#press-release-navigation ul li a:link, #press-release-navigation ul li a:visited {
	font-family: 'Myriad W01 Regular', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#primary-content .product-footer h2 {
	font-family: 'Myriad W01 SmBd It', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

#footer-wrap ul li:first-child a {
	font-family: 'Myriad W01 Bd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

#footer-wrap #join-list > a {
	font-family: 'Myriad W01 Bd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

#footer-wrap .dropdown-menu > li:first-child > a {
	font-family: 'Myriad W01 Lt', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

#footer-wrap p.bold-title {
	font-family: 'Myriad W01 Bd', sans-serif;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight:bold;
}

/*overridefont-size*/
#primary-nav .navbar-nav > li > a{
	font-size:13px;	
}

/*footer notice*/
#footer-company-info p.footer-notice a:link,#footer-company-info p.footer-notice a:visited {
	color: rgb(207,20,43) !important;
}
#footer-company-info p.footer-notice a:hover,#footer-company-info p.footer-notice a:active {
	text-decoration: underline !important;
}

/*footer sitemap*/
#footer-wrap ul.footProducts li:first-child a {
	font-weight:normal;	
}

#footer-wrap ul.footProducts li:first-child a {
	margin-bottom:0px;
	color:rgb(100,100,100);
}


/*pulldown 2*/
#primary-nav .dropdown-menu.dropdown-double {
	width:200%;
}

/*mobile menu*/
#navbar-mobile li a:link, #navbar-mobile li a:visited {
	font-weight:bold;
}

#navbar-mobile li .nav a{
	font-weight: normal;
}

/*secondary-nav*/
#secondary-nav ul:first-child > li.act > a {
	border-bottom: 1px solid rgb(207,20,43) !important;
	color: rgb(50,50,50) !important;
}

#secondary-nav ul:first-child > li:first-child >a{
	font-weight:bold;
	
}



/*max-width*/
.mLRA{
	margin:0 auto;
}

.mw50{ width:100%;max-width:50px;*width:50px;}
.mw60{ width:100%;max-width:60px;*width:60px;}
.mw70{ width:100%;max-width:70px;*width:70px;}
.mw80{ width:100%;max-width:80px;*width:80px;}
.mw90{ width:100%;max-width:90px;*width:90px;}
.mw100{ width:100%;max-width:100px;*width:100px;}
.mw110{ width:100%;max-width:110px;*width:110px;}
.mw120{ width:100%;max-width:120px;*width:120px;}
.mw130{ width:100%;max-width:130px;*width:130px;}
.mw140{ width:100%;max-width:140px;*width:140px;}
.mw150{ width:100%;max-width:150px;*width:150px;}
.mw160{ width:100%;max-width:160px;*width:160px;}
.mw170{ width:100%;max-width:170px;*width:170px;}
.mw180{ width:100%;max-width:180px;*width:180px;}
.mw190{ width:100%;max-width:190px;*width:190px;}
.mw200{ width:100%;max-width:200px;*width:200px;}
.mw210{ width:100%;max-width:210px;*width:210px;}
.mw220{ width:100%;max-width:220px;*width:220px;}
.mw230{ width:100%;max-width:230px;*width:230px;}
.mw240{ width:100%;max-width:240px;*width:240px;}
.mw250{ width:100%;max-width:250px;*width:250px;}
.mw260{ width:100%;max-width:260px;*width:260px;}
.mw270{ width:100%;max-width:270px;*width:270px;}
.mw280{ width:100%;max-width:280px;*width:280px;}
.mw290{ width:100%;max-width:290px;*width:290px;}
.mw300{ width:100%;max-width:300px;*width:300px;}
.mw310{ width:100%;max-width:310px;*width:310px;}
.mw320{ width:100%;max-width:320px;*width:320px;}
.mw330{ width:100%;max-width:330px;*width:330px;}
.mw340{ width:100%;max-width:340px;*width:340px;}
.mw350{ width:100%;max-width:350px;*width:350px;}
.mw360{ width:100%;max-width:360px;*width:360px;}
.mw370{ width:100%;max-width:370px;*width:370px;}
.mw380{ width:100%;max-width:380px;*width:380px;}
.mw390{ width:100%;max-width:390px;*width:390px;}
.mw400{ width:100%;max-width:400px;*width:400px;}
.mw410{ width:100%;max-width:410px;*width:410px;}
.mw420{ width:100%;max-width:420px;*width:420px;}
.mw430{ width:100%;max-width:430px;*width:430px;}
.mw440{ width:100%;max-width:440px;*width:440px;}
.mw450{ width:100%;max-width:450px;*width:450px;}
.mw460{ width:100%;max-width:460px;*width:460px;}
.mw470{ width:100%;max-width:470px;*width:470px;}
.mw480{ width:100%;max-width:480px;*width:480px;}
.mw490{ width:100%;max-width:490px;*width:490px;}
.mw500{ width:100%;max-width:500px;*width:500px;}
.mw510{ width:100%;max-width:510px;*width:510px;}
.mw520{ width:100%;max-width:520px;*width:520px;}
.mw530{ width:100%;max-width:530px;*width:530px;}
.mw540{ width:100%;max-width:540px;*width:540px;}
.mw550{ width:100%;max-width:550px;*width:550px;}
.mw560{ width:100%;max-width:560px;*width:560px;}
.mw570{ width:100%;max-width:570px;*width:570px;}
.mw580{ width:100%;max-width:580px;*width:580px;}
.mw590{ width:100%;max-width:590px;*width:590px;}
.mw600{ width:100%;max-width:600px;*width:600px;}
.mw610{ width:100%;max-width:610px;*width:610px;}
.mw620{ width:100%;max-width:620px;*width:620px;}
.mw630{ width:100%;max-width:630px;*width:630px;}
.mw640{ width:100%;max-width:640px;*width:640px;}
.mw650{ width:100%;max-width:650px;*width:650px;}
.mw660{ width:100%;max-width:660px;*width:660px;}
.mw670{ width:100%;max-width:670px;*width:670px;}
.mw680{ width:100%;max-width:680px;*width:680px;}
.mw690{ width:100%;max-width:690px;*width:690px;}
.mw700{ width:100%;max-width:700px;*width:700px;}
.mw710{ width:100%;max-width:710px;*width:710px;}
.mw720{ width:100%;max-width:720px;*width:720px;}
.mw730{ width:100%;max-width:730px;*width:730px;}
.mw740{ width:100%;max-width:740px;*width:740px;}
.mw750{ width:100%;max-width:750px;*width:750px;}

/*font-size*/
h1,.h1{
	font-size:30px;
}

#primary-content h2 {
	font-size:20px;
}

#primary-content h3 {
	font-size:18px;
}

#primary-content h4 {
	font-size:14px;
}

#primary-content h5 {
	font-size:16px;
}

#primary-content h6 {
	font-size:16px;
}

#primary-content p {
	font-size: 16px;
	line-height:1.6;
}

#primary-content ul {
	font-size: 16px;
}

#primary-content ul ul {
	padding-left: 14px;
}

#primary-content ul.list-sm {
	font-size: 14px;
}

#primary-content ol {
	font-size: 16px;
}

